# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
tempCodeRunnerFile.py

# Packaging
**/__pycache__/
**/*.egg-info/
**/*.egg
**/dist/
**/build/

# Environment variables
.env

DataSet/acct_transaction.csv
DataSet/PreProcessing_T2.csv
XGBoost/*.csv

PreProcessing_T1/test_features_v4.csv
PreProcessing_T1/train_features_v4.csv
Preprocessing_T3/preprocessed_T3.csv
